<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>
<body>
    <div id="menu-bar">
        <div id="menu">
            
        </div>
    </div>
    <section id="home">
        <header class="header-container">
            <div class="header">
                <div class="checkbox-container container">
                    
                    </div>
                </div>
            </div>
        <h1>Kaio Antônio</h1>
        <h2>Web Developer</h2>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/kaio-antônio-andrade-rodrigues-7ba697217/">Linkedin</a>
            <a href="https://github.com/KaioAntonio">Github</a>
        </div>
        </header>
    </section>
    <section id="sobre" class="sobre">
        <div class="container-fluid">
            <div class="text-center">
                <h1 style="margin-top: 3%;" class="text-center">Sobre mim</h1>
            </div>
            <div class="text-center" id="junto">
                <p class="text-center ">Estudante de Ciências da Computação, 5° Período - UNIT(Universidade Tiradentes) 
                    com facilidade em trabalho em equipe, boa comunicação e focado em desenvolvimento web com Python/Django. Além disso possuou experiência com banco de dados
                    POSTGRES e ORACLE. Gosto sempre de estar antenado nas novas tecnologias e não fico apegado, 
                    e tento me adaptar os mais rápido possível as necessidades daquele projeto a ser desenvolvido.</p>
                
            </div>
            <div class="row align-items-start" id="junto">
                <h1 class="text-center">Tecnologias</h1>
                <div class="text-center" style="margin-top: 20px;">
                    <img class="col-lg-2" style="height: 200px; width: 200px;" src="../static/img/Python-logo-notext.svg_.png">
                    <img class="col-lg-2" style="height: 200px; width: 200px;" src="../static/img/database-png-icon-22.jpg">
                    <img class="col-lg-4" style="height: 200px; width: 200px;" src="../static/img/800px-HTML5_logo_and_wordmark.svg.png">
                    <img class="text-center" style="height: 200px; width: 200px;" src="../static/img/1200px-CSS3_logo_and_wordmark.svg.jpg">
                    </div>
            </div>
        </div>

    </section>
    <section style="background-color: #60E1E0;" id="projetos" class="projetos">
        <div class="container-fluid">
            <div class="text-center">
                <h1 style="margin-top: 3%; margin-bottom: 3%;" class="text-center ">Projetos Descktop</h1>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <img src="../static/img/ControleValidade.png" style="height: 400px; width: 800px;">
                    <h4 class="text-center">Controle de validade </h4>
                    <p class="" style="text-align: justify;">Esse Software foi desenvolvido para atender a necessidade do controle das validades
                        da loja da Atalaia Rações, que até então era no caderno. Foi desenvolvido em Python/Django e com o framework Materialize.css. Além disso,
                        ele possui as seguintes funcionalidades: Cadastrar o Lote, Consultar o lotes, Cada cartão representa um período de 30, 60, 90, 120, 180, +180 dias
                        que o produto está de vencer.
                         Contudo, esse programa ainda está em fases de testes na empresa.

                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="../static/img/Romaneio.png" style="height: 400px; width: 800px;">
                    <h4 class="text-center">Sistema de Romaneio e Entrega</h4>
                    <p class="" style="text-align: justify;"></p>
                </div>
                
            </div>

            <div class="text-center">
                <h1 style="margin-top: 3%; margin-bottom: 3%;" class="text-center ">Projetos Mobile</h1>
            </div>

            <div class="row">
                <div class="text-center">
                    <video  style="height: 600px; width: 800; margin-right: 0%;" controls autoplay src="../static/videos/WhatsApp Video 2022-03-01 at 19.21.34 (1).mp4">

                    </video>
                    <h4 class="text-center">Atualiza Dados dos Clientes </h4>
                </div>

            </div>
        </div>
    </section>
    
    <main class="container">
    </main>
    <footer class="footer">
        
    </footer>
</body>
</html>