<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" href="../static/img/brain-5564173_960_720.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body class="">

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/Kaio_port.jpeg" alt="Foto kaio">
            <h1>Kaio Antônio</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://github.com/KaioAntonio">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/kaio-antônio-andrade-rodrigues-7ba697217/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/kaioozy/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projetos"><i class="bi bi-collection" aria-hidden="true"></i>
                        Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>


            </ul>
        </nav>

    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center 
            align-items-center flex-column">
                <h2 class="text-white text-shadow">Kaio Antônio</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor de Software e Estudante </span>
            </div>

            <div class="col-md-7 d-flex justify-content-end 
            align-items-end flex-column">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>

            </div>

        </section>

        <section class="container mt-5" id="sobre">
            <div class="row-100">
                <div class="cool-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p class="text-justify">Estudante de Ciências da Computação, 5° Período - UNIT(Universidade
                        Tiradentes),
                        Amante da tecnologiam, gosto muito de ficar atento nas novas tecnologias e procuro
                        sempre fazer cursos e ler livros sobre, tenho lido Código Limpo para aprofundar a qualidade
                        dos meus softwares.
                        Sou uma pessoa simples e amigável, gosto de sair com meus amigos e minha família, apesar de ser
                        caseiro
                        Meu foco atualmente é por em prática meus conhecimentos técnicos e me tornar um grande
                        programador. </p>
                </div>

                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" src="../static/img/Natureza.PNG" alt="Foto Kaio">
                    </div>

                    <div class="col-md-8">
                        <h3>Desenvolvedor de Software</h3>
                        <p>Atualmente sou estagiário na Atalaia Rações, atuando como desenvolvedor web e mobile,
                            principalmente com Python/Django e Flutter. Além de utilizar banco de dados SQL como
                            o Oracle e PostgreSQL.

                        </p>


                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item ">
                                        Aniversário: <span class="fs-6">14 março de 2022
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        Idade: <span class="fs-6">20 anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Cidade: <span class="fs-6">Aracaju</span>
                                    </li>
                                    <li class="list-group-item">
                                        Estado: <span class="fs-6">Sergipe</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Hobby: <span class="fs-6">Passar tempo com a família</span>
                                    </li>
                                    <li class="list-group-item">
                                        Período: <span class="fs-6">5°</span>
                                    </li>
                                    <li class="list-group-item">
                                        Sonho: <span class="fs-6">Me tornar um grande desenvolvedor</span>
                                    </li>
                                    <li class="list-group-item">
                                        Experiência: <span class="fs-6">1 ano</span>
                                    </li>

                                </ul>
                            </div>

                            <p>
                                Além de desenvolver software, tenho melhorado bastante meus aprendizados em metodologias
                                ágeis
                                e não gosto de ficar parado sempre busco mais e mais, estudo muitos cursos online
                                para alavancar meus conhecimentos.
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">

                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Como estagiário conseguir desenvolvedor Habilidades técnicas e não tecnicas,
                    de acordo com a porcentagem demonstrada.
                </p>

                <h3 class="text-center">Hard skills</h3>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Django</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Flutter</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                </div>

                <br>
                <h3 class="text-center">Soft skills</h3>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Comuinicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">92%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Resiliência</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Atitude</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Pensamento Crítico</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>

                    </div>

                </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item">
                            <h4>Ciência da Computação</h4>
                            <h5>2020 - 2024 (Cursando)</h5>
                            <p><em>Universidade Tiradentes</em></p>
                            <p>Recebendo conhecimentos e técnicas para contribuir na solução de problemas,
                                desenvolvimento de softwares com qualidade e utilizando metodologias ágeis.
                            </p>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item">
                            <h4>Estagiário</h4>
                            <h5>2021-Atual</h5>
                            <p><em>Atalaia Rações</em></p>
                            <p>Atuando como Desenvolvedor Web, Mobile e Suporte de TI</p>
                        </div>
                    </div>
                </div>


            </div>

        </section>

        <section class="section-bg mt-5" id="projetos">
            <div class="container pb-5 pt-5">
                <h2 class="pb-4">Projetos</h2>

                <div id="carouselProjetos" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselProjetos" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselProjetos" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>

                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/flask_py.png" class="card-img-top img-fluid w-100"
                                            alt="Projeto Flask">
                                        <div class="card-body">
                                            <h5 class="card-title">Api</h5>
                                            <p class="card-text">
                                                Api utilizando Flask
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KaioAntonio/preco_bitcoin" target="_blank"
                                                    class="btn btn-outline-primary">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/bitcoin.png" class="card-img-top img-fluid w-100"
                                            alt="Projeto Bitcoin">
                                        <div class="card-body">
                                            <h5 class="card-title">Preço do Bitcoin</h5>
                                            <p class="card-text">Projeto Mobile do preço do bitcoin consumindo a API do
                                                blockchain
                                                utilizando o framework Flutter
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KaioAntonio/preco_bitcoin" target="_blank"
                                                    class="btn btn-outline-primary">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/caraoucoroa.png" class="card-img-top img-fluid w-100"
                                            alt="Estrutua de dados">
                                        <div class="card-body">
                                            <h5 class="card-title">Cara ou Coroa</h5>
                                            <p class="card-text">Projeto Mobile de um jogo cara ou coroa com Flutter</p>

                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KaioAntonio/preco_bitcoin" target="_blank"
                                                    class="btn btn-outline-primary">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <!-- Adicionar proxima pagina de projetos-->

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/flask_py.png" class="card-img-top img-fluid w-100"
                                            alt="Projeto Flask">
                                        <div class="card-body">
                                            <h5 class="card-title">Api</h5>
                                            <p class="card-text">
                                                Api utilizando Flask
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KaioAntonio/preco_bitcoin" target="_blank"
                                                    class="btn btn-outline-primary">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/bitcoin.png" class="card-img-top img-fluid w-100"
                                            alt="Projeto Bitcoin">
                                        <div class="card-body">
                                            <h5 class="card-title">Preço do Bitcoin</h5>
                                            <p class="card-text">Projeto Mobile do preço do bitcoin consumindo a API do
                                                blockchain
                                                utilizando o framework Flutter
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KaioAntonio/preco_bitcoin" target="_blank"
                                                    class="btn btn-outline-primary">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/caraoucoroa.png" class="card-img-top img-fluid w-100"
                                            alt="Estrutua de dados">
                                        <div class="card-body">
                                            <h5 class="card-title">Cara ou Coroa</h5>
                                            <p class="card-text">Projeto Mobile de um jogo cara ou coroa com Flutter</p>

                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/KaioAntonio/preco_bitcoin" target="_blank"
                                                    class="btn btn-outline-primary">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-get-alt"></i>Localização:</h4>
                                <p>Aracaju, SE</p>
                            </div>

                            <div class="endereco">
                                <h4><i class="bi bi-envelope"></i>Email:</h4>
                                <p>kaioaar@gmail.com</p>
                            </div>


                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250651.82071323803!2d-37.2432428253175!3d-11.005975756925269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71ab04015be27cd%3A0x804434fd92ec3b36!2sAracaju%2C%20SE!5e0!3m2!1spt-BR!2sbr!4v1648346093150!5m2!1spt-BR!2sbr"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0">
                            <form class="row g-3">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name="nome"
                                  placeholder="Digite seu nome">
                                </div>
                                <div class="col-md-6">
                                  <label for="Email" class="form-label">Email:</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu Email">
                                </div>
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                  <textarea type="text" rows="10" class="form-control" id="mensagem" 
                                  name="mensagem" placeholder="Digite sua mensagem"></textarea>
                                </div>
                                
                                <div class="col-12 d-flex justify-content-center mt-4">
                                  <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                                </div>
                              </form>

                        </div>
                    </div>

                </div>

            </div>
        </section>

    </main>

    <script src="../static/js/script.js"></script>
</body>

</html>